.env
*.pyc
db.sqlite3
static
media
webpack-stats.json
assets/development
assets/bundles
node_modules
build
/env
/src
*.log
npm-debug.log*
.idea/**/*
.vscode
.DS_Store

# for codeship
codeship.aes
aws-deployment.env
package-lock.json
.vscode/settings.json
